*{
    margin: 0;
    padding: 0;
}

.link-inicio{
    background-color: rgba(3, 48, 60, 0.838);
    display: flex;
    justify-content: right;
}
.seccion-principal{
    background-color: rgba(0, 195, 255, 0.821);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;   
}

.seccion-principal p{
    width: 90%;
}

.seccion-integrantes{
    background-color: rgb(255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-integrantes ul{
    padding-left: 15%;
    align-self: start;
}

.seccion-Animales{
    background-color: rgb(116, 43, 226);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    margin-top: 20px;
}
.seccion-Animales h2{
    text-align: center;
}
.container{
    display: flex;
    min-height: 100vh;
}
.container-content{
    margin: 20px;
}

.animal-imagen img{
    width: 400px;
    height: 400px;
}

@media (max-width:710px) {
    .container-content{
        margin: 10px;
        padding: 0px 20px;
    }
    .animal-imagen img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:710px){ 
    .container-content{
        font-size: 14px;
        margin: 5px;
        padding: 0px 5px;
    }
    .animal-imagen img{
        width: 250px;
        height: 300px;
    }
}