*{
    margin: 0;
    padding: 0;
}

.link-inicio{
    background-color: rgb(2, 94, 94);
    display: flex;
    justify-content: right;
}
.seccion-principal{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;   
}

.seccion-principal p{
    width: 90%;
}

.seccion-integrantes{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-integrantes ul{
    padding-left: 10%;
    align-self: start;
}

.seccion-Animales{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    margin-top: 20px;
}
.seccion-Animales h2{
    text-align: center;
}
.container{
    display: flex;
    min-height: 100vh;
}
.container-content{
    margin: 20px;
}

.animal-imagen img{
    width: 400px;
    height: 400px;
}

@media (max-width:1040px) {
    .container-content{
        margin: 10px;
        padding: 0px 20px;
    }
    .animal-imagen img{
        width: 300px;
        height: 400px;
    }
}

@media (max-width:710px){ 
    .container-content{
        font-size: 14px;
        margin: 10px;
        padding: 0px 20px;
    }
    .animal-imagen img{
        width: 250px;
        height: 300px;
    }
}